/******** Header  ********/

html,
body {
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}
.header {
  display: flex;
  margin-bottom: 1em;
}
.title {
  font-size: 2em;
  width: 20%;
  color: #80fc38;
  margin: 1em 1em;
}

.container {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  border-right: 10px solid #fffa;
  margin-right: 1em;
}

.header-bar {
  position: relative;
  width: 80%;
  min-width: 300px;
  height: 50px;
  border: 10px solid transparent;
}

.slider-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.slider-menu > li {
  display: inline-flex;
  padding: 14px;
  margin-left: 2px;
  font-family: "Quicksand", sans-serif;
  color: #fff;
  cursor: pointer;
  transition: 0.3s linear all;
  user-select: none;
}
.slider-menu > li:hover {
  color: #faa;
  box-shadow: 0 50px 1px rgba(0, 0, 0, 0.15) inset;
}

/******** Search Bar  ********/
.box {
  position: relative;
}

.input {
  padding: 10px;
  width: 50px;
  height: 50px;
  background: none;
  border: 4px solid silver;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 26px;
  color: silver;
  transition: 0.5s;
}
.box:hover input {
  width: 500px;
  background: #3b3640;
  border: solid lime;
  border-radius: 10px;
}
/******** Search Bar Magnifying icon  ********/
.box i {
  position: absolute;
  top: -2%;
  right: 25px;
  transform: translate(50%, 50%);
  font-size: 26px;
  color: #80fc38;
  transition: 0.2s;
}
.box:hover i {
  opacity: 0;
  z-index: -1;
}
/******** Header Log in and messages  ********/
.headerSideOptions {
  display: flex;
  width: 10%;
  justify-content: space-between;
  padding: 2%;
}
.headerSideOptions a {
  font-size: 1.2em;
  text-decoration: none;
  color: #80fc38;
}
/**** Navbar ******/
.police {
  height: 100px;
  /* margin-bottom: -20px; */
  animation: chase 9s infinite;
  position: absolute;
}
.police2 {
  animation: chase2 7s infinite;
}
@keyframes chase {
  0% {
    left: -15%;
  }

  100% {
    left: 115%;
  }
}
@keyframes chase2 {
  0% {
    left: -10%;
  }

  100% {
    left: 115%;
  }
}

.navBar {
  padding: 0;
  margin: 1em auto 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  font-family: Hack, monospace;
}

.vl {
  border-left: 6px solid green;
  height: 30px;
}

nav {
  background: #f9f9f9;
  justify-content: space-around;
}
nav .menuItems {
  list-style: none;
  display: flex;
}

nav li {
  margin: 5px;
}

nav li a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

nav li a::before {
  content: attr(data-item);
  transition: 0.5s;
  color: #01ff38;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}

nav li a:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

/***** 1st Section *****/
.container4 {
  height: 400px;
  width: 30%;
  display: flex;
}

.card3 {
  display: flex;
  height: 100%;
  width: 80%;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  margin: auto;
  transition: 0.4s ease-out;
  position: relative;
}
.profileDeets {
  width: 100%;
  color: silver;

  bottom: 0;
  position: absolute;
  bottom: 0;
}
.profileDeets div {
  padding: 0;
}
.halfFirst {
  color: grey;
  margin-left: 2em;
  width: 40%;
  display: inline-block;
}
.halfSecond {
  color: white;

  width: 40%;
  display: inline-block;
}
.star {
  color: yellow;
  font-size: 2em;
}

/* .card3:not(:first-child) {
  margin-left: -50px;
} */

.card3:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card3:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.cardTitle {
  color: lime;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(
    90deg,
    rgb(5, 252, 17) 0%,
    rgb(64, 175, 0) 65%,
    rgb(37, 92, 0) 100%
  );
  transition: 0.6s ease-out;
}

.card3:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

/**** Carosel  *****/
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.firstSection {
  margin: 0 auto;
  padding: 0 1.25rem;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
  display: flex;
  justify-content: space-between;

  align-items: center;
}

*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-track {
  background: transparent;
  display: none;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
  display: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 35%;
  margin-bottom: 1em;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  width: 30%;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  border: solid lime;
  border-radius: 0.25em;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item;
}

.carousel__slide:nth-child(even) {
  background-color: white;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 55.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;

  outline: 0;
  font-size: 15em;

  color: rgba(255, 255, 255, 0);
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
/********* Second Section **********/
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.secondSection {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Righteous", cursive;
  min-height: 100vh;
}

.container2 {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px;
  margin: 0 auto;
  padding: 40px 0;
  border: solid lime;
  padding: 10em 6em;
  background-color: #63d471;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background: #000;
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face1 {
  box-sizing: border-box;
  padding: 20px;
}

h2 {
  margin: 0;
  padding: 0;
}

.java {
  background-color: #fffc00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.python {
  background-color: #00fffc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cSharp {
  background-color: #fc00ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.face2 {
  transition: 0.5s;
  overflow: hidden;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.card:hover .face.face2 {
  height: 60px;
}

h2 {
  font-size: 2em;
}

.card:nth-child(2) .face.face2 {
  border-radius: 15px;
}
.image1 {
  height: 100%;
  width: 100%;
}

.card:nth-child(3) .face.face2 {
  background-image: linear-gradient(
    40deg,
    #fc00ff 0%,
    #00fffc 45%,
    #fffc00 100%
  );
  border-radius: 15px;
}

.card:nth-child(4) .face.face2 {
  background-image: linear-gradient(
    40deg,
    #00fffc 0%,
    #fc00ff 45%,
    #fffc00 100%
  );
  border-radius: 15px;
}

/******* Third Section *******/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.thirdSection {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #131313;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15em;
}

.container3 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5em;
}

.container3 .card2 {
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 3em;
}

.container3 .card2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}
.container3 .card2:nth-child(2):before {
  background: #ffffff;
}
.container3 .card2:nth-child(3):before {
  background: #3a6d00;
}
.container3 .card2:nth-child(4):before {
  background-image: linear-gradient(
    40deg,
    #fc00ff 0%,
    #00fffc 45%,
    #fffc00 100%
  );
}
.container3 .card2:nth-child(5):before {
  background: #90928e;
}
.container3 .card2:nth-child(6):before {
  background: #f70202;
}

.container3 .card2:hover:before {
  clip-path: circle(300px at 80% -20%);
}
.container3 .card2:nth-child(7):before {
  background-image: linear-gradient(
    40deg,
    #ffffff 0%,
    #fcffe2 45%,
    #fffc00 100%
  );
}

.container3 .card2:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.container3 .card2:after {
  content: "";
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 25, 0.05);
}
.container3 .card2:nth-child(2):after {
  content: "Cocaine";
}
.container3 .card2:nth-child(3):after {
  content: "Weed";
}

.container3 .card2 .imgBx {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container3 .card2:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
}

.container3 .card2 .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container3 .card2 .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container3 .card2:hover .contentBx {
  height: 210px;
}

.container3 .card2 .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container3 .card2 .contentBx .size,
.container .card2 .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container3 .card2:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container3 .card2:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container3 .card2 .contentBx .size h3,
.container .card .contentBx .color h3 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
  margin: 0;
}

.container3 .card2 .contentBx .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: -10px 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container3 .card2 .contentBx .size span:hover {
  background: #9bdc28;
}

.container3 .card2 .contentBx .color span {
  width: 100px;
  height: 100px;
  background: #ff0;
  border-radius: 20%;
  /* margin: 0 5px; */
  cursor: pointer;
}

.container3 .card2 .contentBx .color span:nth-child(2) {
  background: #9bdc28;
}

.container3 .card2 .contentBx .color span:nth-child(3) {
  background: #03a9f4;
}

.container3 .card2 .contentBx .color span:nth-child(4) {
  background: #e91e63;
}

.container3 .card2 .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container3 .card2:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}
/***** Footer ******/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
.footerDiv {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  background-color: lightblue;
  color: #fff;
}

.footer #button {
  width: 35px;
  height: 35px;
  border: #727172 12px solid;
  border-radius: 35px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.footer #button:hover {
  width: 35px;
  height: 35px;
  border: #3a3a3a 12px solid;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}
.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 2em;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 999;
}
.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 20em;
  z-index: 10000;
}
.footer #container {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #3a3a3a;
}
.footer #cont {
  position: relative;

  /* right: 190px; */

  height: auto;
  margin: 0 auto;
}
.footer_center {
  width: 100%;
  /* float: left; */
  /* text-align: center; */
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Sans-serif;
  background-color: #070617;
}
/* .footer h3 {
  font-family: "Helvetica";
  font-size: 30px;
  font-weight: 100;
  margin-top: 70px;
  margin-left: 40px;
} */

/***** footer inside Footer ******/
/* REMOVE THIS, USE YOUR OWN  */

/* .dummy_page {
  height: 200px;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  box-sizing: border-box;
  padding: 60px 0px;
} */
/* STYLES SPECIFIC TO FOOTER  */
.footer2 {
  width: 100%;
  position: relative;
  height: 100%;
  background-color: #070617;
  align-items: center;
  margin: auto 0em;
}
.contain {
  display: flex;
  justify-content: space-around;
}
.footer2 .col {
  height: 100%;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* padding: 0px 1px 1px 5px; */
  margin: 2em 1em;
}
.footer2 .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  /* line-height: 10px; */
  /* padding: 1px 0px 5px 0px; */
  color: rgba(255, 255, 255, 0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.footer2 .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer2 .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  /* padding: 5px 0px 5px 0px; */
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  margin: 0.8em auto;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer2 .col ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer2 .col {
    width: 33%;
  }
  .footer2 .col h1 {
    font-size: 14px;
  }
  .footer2 .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .footer2 .col {
    width: 50%;
  }
  .footer2 .col h1 {
    font-size: 14px;
  }
  .footer2 .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
  .footer2 .col {
    width: 100%;
  }
}
